#include <winver.h>

// Application icon
IDI_APPICON ICON "icons\\app.ico"

// UAC manifest
1 RT_MANIFEST "setec.manifest"

// Version info
VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,0,0,0
    PRODUCTVERSION 1,0,0,0
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
    FILEFLAGS      0x0L
    FILEOS         VOS_NT_WINDOWS32
    FILETYPE       VFT_APP
    FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Setec"
            VALUE "FileDescription",  "Setec Partition Wizard"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "SetecPartitionWizard"
            VALUE "OriginalFilename", "SetecPartitionWizard.exe"
            VALUE "ProductName",      "Setec Partition Wizard"
            VALUE "ProductVersion",   "1.0.0.0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Setec"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
